* {
    box-sizing: border-box;

}

header {
    display: inline;
    display: flex;
    width: 100%;

    i.bi-chevron-down {
        margin-left: 4px;
        font-size: 0.5cm;


    }

    nav {
        width: 100%;
        align-items: center;
        text-align: end;
        margin-right: 6px;

        i {
            font-size: 0.5cm;
        }

        .bi-threads {
            margin-right: 40px;
        }

        .bi-plus-square {
            margin-right: 30px;
        }
    }
}


.insta-dp {
    display: flex;
    width: 100%;

    p {
        width: 100%;
        display: flex;
        display: inline;
        align-items: center;
        text-align: center;
    }

    .insta-dp-img {


        img {
            border-radius: 50%;
            height: 100px;
            margin-left: 4px;
            margin-top: 20px;
        }
    }

    .postes-text {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .text-1 {
            margin-left: 60px;
            margin-top: 49px;
            align-items: center;
            text-align: center;

        }

        .text-2 {
            margin-top: 50px;
            align-items: center;
            text-align: center;


        }

        .text-3 {
            margin-top: 50px;
            align-items: center;
            text-align: center;
            margin-right: 20px;


        }
    }
}

.ins-profile {
    margin-left: 9px;

    .ins-treads {
        background-color: rgb(237, 240, 243);
        margin-left: 15px;
        width: 150px;
        border-radius: 40px;
        text-align: center;

    }
}

.Professional-account {
    background-color: rgb(239, 243, 247);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;

    b {
        margin-left: 20px;

    }

    small {
        margin-left: 20px;
    }
}

.profile-botton {
    align-items: center;
    text-align: center;
    margin-top: 20px;
    border: o.5px;


    .edit-botton-1 {
        background-color: rgb(239, 243, 247);
        border: 0;
        width: 40%;
        margin-right: 3px;
        border-radius: 8px;
    }

    .edit-botton-2 {
        background-color: rgb(239, 243, 247);
        border: 0px;
        color: rgb(0, 0, 0);
        width: 40%;
        border-radius: 8px;
    }
}

.highlight {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: space-evenly;
    margin-bottom: 9px;

    .highlight-img {

        img {
            border-radius: 50%;
            height: 60px;
        }
    }

    .highlight-img-1 {
        margin-left: 20px;
    }
    .highlight-text{
        text-align: center;
    }
    .highlight-img-extra{
        img{
            overflow: hidden;
            width: 65px;
        }
    }
}

.images-reels {


    justify-content: space-between;
    display: flex;
    margin-bottom: 9px;

    i {
        font-size: 0.65cm;
    }

    .bi-grid-3x3-gap-fill {


        margin-left: 50px;
        align-items: center;
        text-align: center;
    }

    .bi-file-person {
        margin-right: 40px;
        text-align: center;
        align-items: center;

    }

    i:hover {
        border-bottom : 1px solid blue;
    }


}


.grid-photos {
    /* aspect-ratio: 1/1; */
    display: grid;


    /* flex-direction: row; */
    grid-template-columns: auto auto auto;
    gap: 4px;






    img {
        margin-top: 0px;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

main {
    margin-bottom: 80px;  
}

footer {
    
    position: fixed;
    bottom: 0;
    z-index: 4;
    background-color: aliceblue;
    width: 100%;
    padding-left: 0;
    height: 35px;
    padding: 2px;

    display: flex;

    justify-content: space-between;
    border-bottom: 0px;
    margin-bottom: 5px;
    i {
        font-size: 0.5cm;
    }

    .footer-img {
        display: flex;
        justify-content: center;
        align-items: center;
        /* display: inline; */
        border-radius: 50%;
        /* height: 25px; */
        height: 100%;
        /* width: 5px; */
        aspect-ratio: 1/1;
        background-color: green;

        img {
            
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            /* margin-left: 75px; */
            /* margin-bottom: 3.5px; */

        }
    }

}

.ms-1 {

    width: 100%;

    i {
        font-size: 0.7cm;
    }

    .text-body-secondary {
        margin-left: 49px;

    }

}